body{
  background-color: #e0f2f1;
  color: #424242 ;
}

.collapsible-header {
    min-height: 6rem;
     width: 100%;
    background-image: url(images/header_history.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav{
  background-color: #0097a7;
}

.collapsible-body p {
    padding: 0;

}

.card {
    margin: 0rem 0 0rem 0;
}
