body {
    background-color: #e0f2f1;
    color: #424242;
}

.collapsible-header {
    min-height: 6rem;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    cursor: pointer;
    line-height: 3rem;
    padding: 0 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd
}

nav {
    background-color: #b2ebf2;
}

#title {
  color: #00838f;
  letter-spacing: 1px;
}

#info {
  padding-left: 15px;
  padding-right: 15px;
}

.collapsible-body p {
    padding: 0;
}

.card {
    margin: 0rem 0 0rem 0;
}
