.collapsible-header {

    min-height: 6rem;
    background-image: url(images/header.png);
    background-size: 100%;
    background-repeat: no-repeat;

}

.collapsible-body p {
    padding: 0;

}

.card {
    margin: 0rem 0 0rem 0;
}
